.success {
    width: 40%;
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10em auto;
}

.success h1 {
    display: flex;
    justify-content: center;
    font-family: monospace;
    font-size: 20px;
    color: green;
}

.checkIcon {
    display: flex;
    justify-content: center;
    margin: 1em auto;
    color: green;
}

.success p {
    display: flex;
    justify-content: center;
    font-family: monospace;
    font-size: 16px;
    font-weight: 600;
}

.success button {
    padding: 8px;
    display: flex;
    justify-content: center;
    margin: 1em auto;
    width: 40%;
    border: none;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

.success button:hover {
    background-color: rgb(39, 36, 36);
}

.success span {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}